{% extends 'base.html.twig' %}

{% block header_title %}<h1>Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    {% if app.session is not null %}
         {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-success" role="alert">
                <strong>Success!</strong> {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> {{ flash_message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        {{ form_start(form, {'action' : path('user_create')}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
